<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <div class="containerHead">
        <p> IoT - Modbus - Cliente 02</p>
    </div>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/stylecli.css' />
    <link href='https://fonts.googleapis.com/css?family=Vibur:400' rel='stylesheet' type='text/css'>

    <div class="containerBotVoltar">
        <button class="retorno" onclick="retorno()">Voltar</button>
    </div>

</head>
<body>
    <div class="containerForm">
        <form>
            <input type="button" value="Simulate">
        </form>
    </div>
    <div class="containerSensores">
        <form action="/action_page.php">
        <label>Analog Input - ESP32-Modbus</label>
        <br>
        <br>
          <div id="SensorA" class="sensores"></div> 
          <label for="Sensor">Canal 1:</label>
          <br>
          <meter id="canal1" value="0.15">95%</meter>
          <label id="Medida1">0.15</label>
          <br>
          <br>
        
          <label for="Sensor">Canal 2:</label>
          <br>
          <meter id="canal2" value="0.15">95%</meter>
          <label id="Medida2">0.15</label>
          <br>
          <br>
         
          <label for="Sensor">Canal 3:</label>
          <br>
          <meter id="canal3" value="0.15">95%</meter>
          <label id="Medida3">0.15</label>
          <br>
          <br> 
          
        </form>
        <br>
        <br>
        </div>
        </div>

        <div class="containerSliders">
            <label id="sldlabel">Analog Output to ESP32-Modbus</label>
            <br>
            <br>
            <div>
                <label>Canal 4:</label>
                <br>
                <input class="slider" id="slider1" type="range" value="100" min="1" max="100" width="25">
                <label id="sld1">100</label>
                <br>
                <br>
            </div>            
            
            <div>
                <label>Canal 5:</label>
                <br>
                <input class="slider" id="slider2" type="range" value="100" min="1" max="100">
                <label id="sld2">100</label>
                <br>
                <br>
            </div>  

            <div>
                <label>Canal 6:</label>
                <br>
                <input class="slider" id="slider3" type="range" value="100" min="1" max="100">
                <label id="sld3">100</label>
                <br>
                <br>
            </div>  

        </div>

        
        
        <div class="containerButtons">
                
                <div class="switch-holder">
                    <div class="switch-label">
                        <i class="fa-brands fa-old-republic"></i><span>Canal 7</span>
                    </div>
                    <div class="switch-toggle">
                        <input type="checkbox" id="canal7" onclick="ch7()">
                        <label for="canal7"></label>
                    </div>
                </div>
        
                <div class="switch-holder">
                    <div class="switch-label">
                        <i class="fa-brands fa-rebel"></i><span>Canal 8</span>
                    </div>
                    <div class="switch-toggle">
                        <input type="checkbox" id="canal8" onclick="ch8()">
                        <label for="canal8"></label>
                    </div>
                </div>
        
                <div class="switch-holder">
                    <div class="switch-label">
                        <i class="fa-brands fa-rebel"></i></i><span>Canal 9</span>
                    </div>
                    <div class="switch-toggle">
                        <input type="checkbox" id="canal9" onclick="ch9()">
                        <label for="canal9"></label>
                    </div>
                </div>
        </div>
        
        <div class="containerLeds">
            <label color="white">Digital Output - Leds</label>
            <h1 class="neonText">
                Canal 10
            </h1>
            <br>
            <br>
            <h1 class="neonText">
                Canal 11
            </h1>
            <br>
            <br>
            <h1 class="neonText">
                Canal 12
            </h1>

        </div>

        
        <div id="container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
        
        <!-- Cliente JS PAHO -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
        <script src="javascripts/cli.js"></script>

</body>

<script>
	function retorno() {
	window.location.href = "./";
	}
    const button = document.querySelector('input');
    button.addEventListener('click', updateButton);

    function updateButton() {
        if (button.value === 'Simulate') {
            button.value = 'Stop';
            simulateInputs();
        } else {
            button.value = 'Simulate';
            clearInterval(intervalHandler);
        }
    }
</script>

</html>
