<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="containerButtons">
      <button id="demo1" onclick="cliente01()">Cliente01</button>
      <button id="demo2" onclick="cliente02()">Cliente02</button>
      </div>	
    
  </body>
  <script>
    function cliente01() {
    window.location.href = "./cli01";
    }
    function cliente02() {
    window.location.href = "./cli02";
    }
  </script>
</html>
